<% provide(:title, 'View Semester') %>
<h2>Dashboard de coordinador</h2>
<%= link_to "Ver Semestres en curso", new_semester_path , class: "btn btn-default" %>
<br/>
<div id="pie_alumnos_por_maestria" class="pie_chart"/>