<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Quota Overload Notification</h1>
    <p>
      The subject <%= @subject.name %>,
      is overloaded, the max quota is <%= @subject.quota %><br/>
    </p>
  </body>
</html>