<% provide(:title, I18n.t('programas.crear.titulo')) %>
<h1><%= I18n.t('programas.crear.titulo') %></h1>
<div class="row">
  <div class="span6 offset3">    
    
    <p align="center">
     <%= link_to I18n.t('programas.crear.volver'), list_program_path, class: "btn" %> 
    </p> 
      

  </div>
</div>
