<% provide(:title, 'Todos los usuarios') %>
<h1>Todos los usuarios</h1>
<%= will_paginate   %>
<ul class="users">
  <% if current_user.usertype.eql?("Coordinador") %>
    <li><%= link_to "Nuevo usuario", newuser_path %></li>
  <% end %>
  <%= render @users %>
</ul>
<%= will_paginate  %>