<% provide(:title, 'View Semester') %>
<h2>Resumen de Materias por Semestre</h2>
<br/>

<%= form_tag "new_semester_with_classes", method: "get", controller: "new_semester" do %>
	<div id="subjects_per_semester" class="row">	
		<%=render partial: "subjects_per_semester", object: @program_semester%>
	</div>
	<div id="users_per_subject">
		<% render partial: "users_per_subject", object: @users_per_subject%>
	</div>
	<div id="users_per_subject_missing">
		<% render partial: "users_per_subject_missing", object: @users_per_subject_missing%>
	</div>
<% end %>


<%if @program_semester.empty?%>
  <h4>No existe un semestre activo!</h4>
<% end %>
