<% provide(:title, 'View Semestre') %>
<h2>Dashboard de coordinador</h2>

<h3>Indicadores y metricas actuales del semestre:</h3>

<h3>Semestre actual:</h3>
<%=form_for(@program_semester) do |p| %>

<% end %>